.closeChevron{
    margin-top: -50px;
    width: 25px;
}
.openChevron{
    max-width: 26px !important;
}
.openContainer{
    min-width: 300px !important;
}
.closedContainer{
    min-width: 20px !important;
}
.filterModal{
    /* z-index:unset !important; */
    width: 2%;
}

.open{
    display: flex;
}
.close{
    display:none
}