/* .carousel_image_custom{
    min-width: 50px;
    min-height: 150px;
    max-width: 245px;
    max-height: 360px;
}
img{
    min-width: 240px;
    min-height: 180px;
    max-width: 240px;
    max-height: 180px;
} */